@import './variables';


/* Background colors */
.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}
.bg-accent {
  background-color: $accent-color;
}
.bg-success {
  background-color: $success-color;
}
.bg-danger {
  background-color: $danger-color;
}
.bg-light {
  background-color: $light-color;
}
.bg-dark {
  background-color: $dark-color;
}
.bg-blue-900 {
  background-color: $blue-900;
}
.bg-orange-500 {
  background-color: $orange-500;
}
.bg-orange-600 {
  background-color: $orange-600;
}

/* Text colors */
.text-white {
  color: $white;
}
.text-dark {
  color: $dark-color;
}
.text-light {
  color: $light-color;
}
.text-gray-600 {
  color: $gray-600;
}
.text-blue {
  color: $blue-600;
}
.text-orange {
  color: $orange-400;
}

/* Border colors */
.border-white {
  border-color: $white;
}
