

// news.scss
@import 'variables';

// Color classes
.text-primary {
  color: $primary-color;
}

.bg-primary {
  background-color: $primary-color;
}

.text-accent {
  color: $accent-color;
}

.bg-accent {
  background-color: $accent-color;
}

.text-success {
  color: $success-color;
}

.text-danger {
  color: $danger-color;
}

.bg-blue-100 {
  background-color: $primary-color;
}

.text-blue-100 {
  color: $primary-color;
}

.text-blue-200 {
  color: $primary-color;
}

.bg-blue-700 {
  background-color: $primary-color;
}

// Other color utilities
.border-accent {
  border-color: $accent-color;
}

.hover\:bg-blue-700:hover {
  background-color: $primary-color;
}

.focus\:border-accent:focus {
  border-color: $accent-color;
}
.market-sec{
  background-color: $white;

  h3{
    color: $primary-color ;
  }

  p{
    color: $secondary-color;
  }

  div{
    color: $secondary-color;
  }
}

.market{
  background-color: $gray-50;

  h2{
    color: $primary-color;
  }
}
.Articles-sec{
  background-color: $white;

  h2{
    color: $primary-color;
  }
}

.Newsletter-sec{
  background-color: $white;

  h2{
    color: $primary-color;
  }
}

.upcoming-sec{
  background-color: $gray-50;

  h3{
    color: $primary-color;
  }
}

.news-sec{
  background-color: $secondary-color;
  color: $white;
}

.News{
  background-color: $gray-50;
}
